/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-family: 'Dosis', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'dosis', sans-serif; /* Add the font-family */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Custom styles for the navbar */
nav {
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, opacity 0.3s;
}

nav.bg-transparent {
  background-color: transparent;
  box-shadow: none;
}

nav.bg-white {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav.text-black {
  color: black;
}

nav.text-white {
  color: white;
}

/* Utility classes for opacity and transformation */
.navbar-transition {
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s;
}
/* globals.css */
.transition-max-height {
  transition: max-height 0.3s ease-in-out;
}

/* globals.css */
.rotate-y-180 {
  transform: rotateY(180deg);
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}
/* styles/globals.css */
/* styles/globals.css */
/* styles/globals.css */
/* styles/globals.css */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.card-flip {
  transition: transform 2.5s ease;
}

.card-flip:hover {
  transform: scale(5.05);
  box-shadow: 0 70px 20px rgba(0, 0, 0, 0.2);
}
.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.news-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.news-card img {
  max-width: 100%;
  border-radius: 8px;
}

.news-card h2 {
  font-size: 1.5rem;
}

.news-card p {
  color: #555;
}

.news-card a {
  text-decoration: none;
  color: #0070f3;
  font-weight: bold;
}

.news-card a:hover {
  text-decoration: underline;
}

.news-details img {
  max-width: 100%;
  margin-bottom: 16px;
}
.quill-editor {
  height: 300px;
}

.google-form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-form-container iframe {
  width: 100%;
  height: 90%;
  border: none;
}
